body.post-type-archive-speaker {
	.hero.jumbotron {
		@extend %hero-jumbotron;
	}

	#speakers-list {
		@extend %module;

		.speaker {
			min-height:300px;
			max-height:300px;
			margin-bottom: 20px;
		}
	}
}