body.post-type-archive-speaker {
	#speakers-hero {
		min-height:500px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-color: $white;
		background-size: cover;
	}

	#speakers-list {
		@extend %module;

		.speaker {
			min-height:300px;
			max-height:300px;
		}
	}
}