.post-type-archive-press {
	#press-hero {
		//min-height:500px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-color: $bil-blue;
		background-size: cover;
	}

	#press-list {
		@extend %module;
	}
	
}