.bil-logo {
	position:absolute;
	top:50px;
	width:30%;
}

#module-hero {
	height: 700px;

	h2 {
		text-align: center;
		line-height: 1.2;
		margin-top: 270px;
		color: #F6F8E3;
		text-shadow: 1px 1px rgba( 0, 0, 0, 0.2 );
		background-color: rgba(255,255,255,0.15);
		border-radius: 15px;
	}
}

#module-map {
	padding: 100px 0;
	color: $white;
	background-color: $bil_blue;
	position:relative; //important for transparent background below....

	&:before {
	    content: ' ';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    opacity: 0.2;
	    background-image: url('../images/World_map_with_points_white.png');
	    background-repeat: no-repeat;
	    background-position: 50% 0;
	    -ms-background-size: contain;
	    -o-background-size: contain;
	    -moz-background-size: contain;
	    -webkit-background-size: contain;
	    background-size: contain;
	}
	

}

#module-intro {
	padding: 100px 0;
	color: $white;
	background-color: $black;
	
	background-size: cover;	

	.borders {
		border-top: 2px solid rgba( $light-gray, .4 );
		border-bottom: 2px solid rgba( $light-gray, .4);
		padding: 50px 160px;
		background: rgba( $white, .05 );
	}
	p {
		font-size: 1.4em;
		text-align: center;
		padding-bottom: 10px;


		&:last-child {
			padding-bottom: 5px;
		}
	}
}

#module-sponsors {
	padding: 50px 0;
	color: $white;
	background-color: $bil_blue;

	ul.sponsors {
		  display: block;
		  list-style:none;
		  list-style-type: none;
		  -webkit-margin-before: 0;
		  -webkit-margin-after: 0;
		  -webkit-margin-start: 0px;
		  -webkit-margin-end: 0px;
		  -webkit-padding-start: 0;
		  width: 100%;
		  text-align: center;

		li {
			width:100px;
			height:100px;
			text-align: center;
			display:inline-block;

			img {
				max-width: 100%;
				width:100%;
			}
			
			a {
				img {
				    opacity: 0.8;
				    filter: alpha(opacity=80);
				}

				img:hover {
				    opacity: 1.0;
				    filter: alpha(opacity=100);
				}
			}
			
		}
	}
}

#module-cta {
	min-height:400px;
	padding: 100px 0;
	color: $black;
	background-color: $white;

	
 

}

