#speaker-hero {
	background: url('../images/banner-brain.jpg') 50% 50% no-repeat transparent;
	background-size: cover;

	.content {
		color: $white;
	}
}

#speaker-about {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
}