body.single-event {
	.hero.jumbotron {
		@extend %hero-jumbotron;
	}

	#event-about {
		@extend %module;
		background-color:$bil-blue;
		color:#fff;

		.organizers-list dl {
			margin:0;
			padding:0;

			dd {
				margin-bottom:.5em;
			}
		}
	}

	#event-talks {
		@extend %module;
	}

	#event-sponsors {
		@extend %module;
	}

	#event-cta {
		@extend %module;
	}

}