body.single-event {
	.hero.jumbotron {
		@extend %hero-jumbotron;
	}

	#event-about {
		@extend %module;

		.organizers-list ul {
			list-style-type: none;
			margin:0;
			padding:0;
		}
	}

	#event-talks {
		@extend %module;
	}

	#event-sponsors {
		@extend %module;
	}

	#event-cta {
		@extend %module;
	}

}