body.single-event {
	img {
		display: block;
	    max-width: 100%;
	    height: auto;
	}

	.hero.jumbotron {
		@extend %hero-jumbotron;
	}

	#event-hero {
		.content {
		    text-shadow: 1px 1px 5px #000;
		}
	}

	#event-about {
		@extend %module;

		.single-event-nav-container {
			&.cloned {
				background:#fff;
				border-bottom: 1px solid #E8E8E8;
				//width:100%!important;
			}
		}

		#single-event-nav-tabs {
			border-bottom: none;
			font-size: 1.2em;
			
			li>a {
			    margin-right: 2px;
			    line-height: 1.42857143;
			    border: 1px solid transparent;
			    border-radius: 4px 4px 0 0;
			    cursor:pointer;
			}

			li.active>a, li.active>a:focus, li.active>a:hover {
				    cursor: default;
				    background-color: #eee;
				    font-weight:700;
			}

			&.cloned {
				background: #fff;
			}
		}

		.tab-content .tab-pane {
			padding-top:2em;
		}

		.organizers-list {
		
			dl {
				margin:0;
				padding:0;

				dd {
					margin-bottom:.5em;
				}
				.organizer-photo-container {
					display:none;
				}
			}

			.more {
				position: absolute; 
				bottom: 0; 
				left: 0;
				width: 100%; 
				text-align: center; 
				margin: 0; padding: 20px 0; 

				@include css-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 100));
			}


		}
	}

	#event-talks {
		@extend %module;
	}

	#event-sponsors {
		background-color:$bil-blue;
		color:$white;

		@extend %module;

		ul.sponsors {
			display: block;
			list-style:none;
			list-style-type: none;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			-webkit-padding-start: 0;
			width: 100%;

			li {
				width:250px;
				height:250px;
				text-align: center;
				display:inline-block;

				img {
					max-width: 100%;
					width:100%;
				}
				
				a {
					img {
						opacity: 0.8;
						filter: alpha(opacity=80);
					}

					img:hover {
					    opacity: 1.0;
					    filter: alpha(opacity=100);
					}
				}
			}
		}
	}

	#event-cta {
		background-color:$dark-gray;
		color:$white;

		@extend %module;
	}

	#event-press {
		background-color:$bil-blue;
		color:#fff;

		a {
			color:#fff;
		}

		@extend %module;

	}

}