#module-hero {
	height: 700px;

	h2 {
		text-align: center;
		line-height: 1.2;
		margin-top: 270px;
		color: #F6F8E3;
	}
}

#module-map {
	height:700px;
	color: $white;
	background-color: $black;
}

#module-intro {
	height:700px;
	color: $black;
	background-color: $white;
}

#module-sponsors {
	height:700px;
	color: $white;
	background-color: $bil_blue;
}

#module-cta {
	height:400px;
	color: $white;
	background-color: $bil_blue;
}

