// Gravity Forms
.gform_wrapper {

	form {
		.gform_body {
			ul {
				margin-left: 0;
				padding-left: 0;
			    list-style: none;
			}
		}
	}
}

form {
	input, textarea {
		color:#333;
		padding:.5em;
	}
}

.gform_body div.ginput_container > label {
	font-size:15px;
}