body#tinymce.wp-editor {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  padding:10px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body#tinymce.wp-editor p {
  margin-bottom:10px;
}