#module-hero {
	height: 700px;

	h2 {
		text-align: center;
		line-height: 1.2;
		margin-top: 270px;
		color: #F6F8E3;
		text-shadow: 1px 1px rgba( 0, 0, 0, 0.2 );
		background-color: rgba(255,255,255,0.15);
		border-radius: 15px;
	}
}