#module-map {
	padding: 100px inherit;
	color: $white;
	background: url('../images/world_map.png') 50% 50% no-repeat $bil-blue;
	-ms-background-size: contain;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;

	#bil-global-statistics {
		font-weight: bold;
		line-height: 1;
		text-shadow: 2px 2px rgba(0,0,0,.2);
	}

	#full-event-list {
		ul {
			list-style: none;
			color:$white;
			padding-left:0px;

			a, a:visited {
				color:$white;
			}
		}
	}
}