#module-map {
	@extend %module-home;

	color: $white;
	background: url('../images/world_map.png') 50% 50% no-repeat $bil-blue;
	-ms-background-size: contain;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;

	#bil-global-statistics {
		font-weight: bold;
		line-height: 1;
		text-shadow: 2px 2px rgba(0,0,0,.2);

		@include breakpoint(xs) {
			padding:3em;
		}

		@include breakpoint(md) {
			padding:0;
		}
	}

	#full-event-list {
		ul {
			@include breakpoint(xs) {
				padding:40px;
			}
		
			@include breakpoint(md) {
				padding-left:65px;
			}

			margin-top: 10px;
			list-style: none;
			color:$white;
			
			li {

				line-height: 1.3em;
				font-size: 12.9px;

				@include breakpoint(xs) {
					display: inline-block;
					font-size: 15px;
					padding:.5em;
					display:justify;
				}
			
				@include breakpoint(md) {
					white-space: nowrap;
					display: block;
				}

			}

			a, a:visited {
				color:$white;
			}
		}
	}
}