/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;
	float: none;
	text-align:center;

	li {
		  width: 200px;
		  height: 60px;
		  display:inline-block;
		  float:none;

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
			font-size: 1.2em;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


.navbar {
	margin-bottom: 0;
}


#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: $bil-blue;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}

.navbar-custom  .navbar-nav>li>a {
	color: #eee;
}

.navbar-custom  .dropdown-menu li>a:hover {
	color: #ddd;
}

.navbar-custom  .navbar-nav li>a:hover, 
.navbar-nav li .open, 
.navbar-custom .navbar-nav .active a  {
	background-color: _#1687cb;
}

.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}