/*********************
NAVIGATION STYLES
*********************/

header#header {
	nav#nav.navbar {
		margin-bottom:0px;
	}
}

.navbar-bil {
	background-color: $bil-blue;
	border-color: $bil-dark-blue;

	.nav>li>a:focus, .nav>li>a:hover {
		background-color: $bil-dark-blue;
		color: $white;
	}

	a, a:visited {
		color: $light-gray;

		&:hover {
			color: $white;
		}
	}
}