/*********************
NAVIGATION STYLES
*********************/

header#header {
	nav#nav {
		margin-bottom:0px;
	}
}

.navbar-bil {
	background-color: $bil-blue;
	border-color: $bil-dark-blue;

	a {
		color: $light-gray;

		&:hover {
			color: $white;
		}
	}
}