%btn {
	display: inline-block;
	position: relative;
	text-decoration: none;
	border: 1px solid $white;

	&:hover, &:focus {
		color: $white;
		text-decoration: none;
		outline: none;
	}

	&:active {
		top: 1px; 
	}

}

button,
.button {
	@extend %btn;



}