footer#footer {
	min-height:500px;
	background:#666;
	padding-top:50px;
	background-image: url('../images/use_your_illusion.png');

	color:$white;

	.tiny-cc-logo {
		height:auto;
		width: 20px;
	}

	// Genera Links
	a, a:visited {
		color: $white;

		&:hover {
			color:$white;
		}
	}

	// Top Level
	$ttime: .5s;

	.nav>li>a {
		-o-transition:$ttime;
		-ms-transition:$ttime;
		-moz-transition:$ttime;
		-webkit-transition:$ttime;
		transition:$ttime;
	}
	.nav>li>a:focus, 
	.nav>li>a:hover {
	    text-decoration: none;
	    background-color: $bil-blue;
	    border-radius: 5px;
	}

	// Secondary Level

	ul.sub-menu {
	    list-style: none;
	    margin-left: 0;
	    padding-left: 15px;

	    li {

	    	a {
	    		color: $submenu-gray;
	    		display: block;
    		    padding-bottom: 10px;
	    	}
	    }
	}


}

