footer#footer {
	min-height:500px;
	background:#666;
	padding-top:50px;
	background-image: url('../images/use_your_illusion.png');

	color:$white;

	.tiny-cc-logo {
		height:auto;
		width: 20px;
	}

	a, a:visited {
		color: $white;

		&:hover {
			color:$bil-blue;
		}
	}
}

